# EDA Using SweetViz Library

In [1]:
pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.3.1-py3-none-any.whl (15.1 MB)
     |████████████████████████████████| 15.1 MB 3.2 MB/s eta 0:00:011     |███████████████████████████████▎| 14.8 MB 3.2 MB/s eta 0:00:01
Requirement already satisfied: tqdm>=4.43.0 in /home/zec/.local/lib/python3.8/site-packages (from sweetviz) (4.67.1)
Requirement already satisfied: scipy>=1.3.2 in /home/zec/.local/lib/python3.8/site-packages (from sweetviz) (1.10.1)
Requirement already satisfied: matplotlib>=3.1.3 in /home/zec/.local/lib/python3.8/site-packages (from sweetviz) (3.7.5)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /home/zec/.local/lib/python3.8/site-packages (from sweetviz) (1.3.5)
Requirement already satisfied: jinja2>=2.11.1 in /home/zec/.local/lib/python3.8/site-packages (from sweetviz) (3.0.3)
Requirement already satisfied: importlib-resources>=1.2.0 in /home/zec/.local/lib/python3.8/site-packages (from sweetviz) (6.1.1)
Requirement already satisfied: numpy>=1.16.0 in /home/zec/.local/lib/python3.8/site-packages (from sweetviz) (1.24.4)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.4.6)
Requirement already satisfied: contourpy>=1.0.1 in /home/zec/.local/lib/python3.8/site-packages (from matplotlib>=3.1.3->sweetviz) (1.1.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib>=3.1.3->sweetviz) (7.0.0)
Requirement already satisfied: cycler>=0.10 in /home/zec/.local/lib/python3.8/site-packages (from matplotlib>=3.1.3->sweetviz) (0.12.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/zec/.local/lib/python3.8/site-packages (from matplotlib>=3.1.3->sweetviz) (2.9.0.post0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/zec/.local/lib/python3.8/site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.5)
Requirement already satisfied: fonttools>=4.22.0 in /home/zec/.local/lib/python3.8/site-packages (from matplotlib>=3.1.3->sweetviz) (4.53.0)
Requirement already satisfied: packaging>=20.0 in /home/zec/.local/lib/python3.8/site-packages (from matplotlib>=3.1.3->sweetviz) (23.2)
Requirement already satisfied: pytz>=2017.3 in /home/zec/.local/lib/python3.8/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2023.3.post1)
Requirement already satisfied: MarkupSafe>=2.0 in /home/zec/.local/lib/python3.8/site-packages (from jinja2>=2.11.1->sweetviz) (2.1.3)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /home/zec/.local/lib/python3.8/site-packages (from importlib-resources>=1.2.0->sweetviz) (3.17.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.14.0)
Installing collected packages: sweetviz
Successfully installed sweetviz-2.3.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import seaborn as sns

df = sns.load_dataset('titanic')

df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
import sweetviz as sv

my_report = sv.analyze(df)
my_report.show_html() #default arguments will generate to SWEETVIZ_REPORT.html

                                             |          | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.