Types of Objects in Python:
1.   Immutable object
2.   Mutable Object

Immutable Objects:
1.   int
2.   float
3.   string
4.   bool
5.   tuple

Mutable Objects:
1.   List
2.   Set
3.   Dictionary

In [3]:
# list should be included in the squared brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [5]:
# list can have multiple data types
my_list = [2,3,8,1.2,"english",True]
print(my_list)

[2, 3, 8, 1.2, 'english', True]

List are Mutable --> Changeable

In [6]:
# add elements to a list
my_list =[2,3,4,5,"english",True]
my_list.append(6)
print(my_list)

[2, 3, 4, 5, 'english', True, 6]

In [7]:
# print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
4

In [8]:
#list allow duplicates value
list1 = [1,2,2,3,4,4,5]
print(list1)

[1, 2, 2, 3, 4, 4, 5]

In [9]:
print(len(list1))

7

In [10]:
# initiating an empty list
list2 = []
print(list2)

[]

In [11]:
list2.append(5)
print(list2)

[5]

In [13]:
# delete an item in a list
list3 = [2,3,4,5,'English',True]
print(list3)

del list3[2]
print(list3)

[2, 3, 4, 5, 'English', True]
[2, 3, 5, 'English', True]

In [15]:
# join two lists

list3 = [1,2,3,4,5]
list4 = [4,5,7,8,9]

list_5 = list3 + list4
print(list_5)

[1, 2, 3, 4, 5, 4, 5, 7, 8, 9]

Tuple

In [16]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [17]:
# tuple allows multiple data types
tuple2 = (1,2,3.5,'Machine Learning',False)
print(tuple2)

(1, 2, 3.5, 'Machine Learning', False)

In [18]:
# convert a list to a tuple

my_list = [3,4,5,6,7]
print(my_list)

my_tuple = tuple(my_list)

print(my_tuple)

[3, 4, 5, 6, 7]
(3, 4, 5, 6, 7)

In [19]:
print(my_tuple[0])
print(my_tuple[1])

3
4

Tuples are immutable --> UnChangeable

In [20]:
my_tuple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
print(len(my_tuple))

5

Set

In [23]:
# set --> Curly Brackets

my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [24]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [25]:
# convert a list to a set

my_list = [3,4,5,6,7]

x = set(my_list)
print(x)

{3, 4, 5, 6, 7}

In [26]:
# set does not allow duplicate values
set1 = {1,2,3,3,4,4,7}
print(set1)

{1, 2, 3, 4, 7}

Dictionary

Key-Value Pair

In [27]:
my_dict = {'name':'Ajay','age':29,'address':'Indore'}
print(my_dict)
type(my_dict)

{'name': 'Ajay', 'age': 29, 'address': 'Indore'}

dict

In [29]:
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['address'])

Ajay
29
Indore

In [31]:
# dictionary does not allow duplicate values
my_dict = {'name':'Ajay','age':29,'address':'Indore','name':'Ajay1','age':29,'address':'Indore'}
print(my_dict)

{'name': 'Ajay1', 'age': 29, 'address': 'Indore'}