Operators in Python:


1.  Arithmetic Operators
2.  Assignment Operators
3.  Comparision Operators
4.  Logical Operators
5.  Identity Operators
6.  Membership Operators

1. Arithmetic Operators

In [3]:
num1 = 20
num2 = 10

#addition
sum = num1+num2
print('sum ',sum)

#subtract
diff = num1-num2
print('difference ',diff)

#mutiplication
pro  = num1*num2
print('Product ',pro)

#division
quo = num1/num2
print('quotient ',quo)

#exponent
exp = num1**num2
print('exponents ',exp)

#modulus
mod = num1%num2
print('reminder ',mod)

sum  30
difference  10
Product  200
quotient  2.0
exponents  10240000000000
reminder  0

2. Assignment Operators

+=

-=

*=

**=

/=

%=

In [4]:
a = 5
print(a)

5

In [5]:
a = 5
a += 5 # a = a+5
print(a)

10

In [6]:
b = 10
b -= 5 # b = b-5
print(b)

5

3. Comparision Operators

In [8]:
a = 5
b = 10

print(a == b) # equal to
print(a != b) # not equal to
print(a > b)
print(a < b)
print(a <= b)
print(a >= b)

False
True
False
True
True
False

4. Logical Operator

and

or

not

In [9]:
a = 10
print(a>20 and a > 5)
print(a>20 or a > 5)
print(not(a>8 and a > 5))

False
True
False

5. Identity Operator:

is

is not

In [10]:
x = 5
y = 5

print(x is y)

True

In [11]:
x = 5
y = 5

print(x is not y)

False

In [12]:
x = 5
y = 51

print(x is not y)

True

6. Membership Operator

in

not in

In [14]:
a = 5
b = 10
c = [1,2,3,4,5,6]
print(a in c)
print(b in c)

True
False

In [15]:
a = 5
b = 10
c = [1,2,3,4,5,6]
print(a not in c)
print(b not in c)

False
True