For loop

In [2]:
laptop1 = int(input("Enter price of laptop :"))
laptop2 = int(input("Enter price of laptop :"))
laptop3 = int(input("Enter price of laptop :"))
laptop4 = int(input("Enter price of laptop :"))
laptop5 = int(input("Enter price of laptop :"))

Enter price of laptop :2000
Enter price of laptop :3000
Enter price of laptop :4000
Enter price of laptop :5000
Enter price of laptop :6000

In [3]:
for i in range(5): #0,1,2,3,4
  laptop_price = int(input("Enter price of laptop :"))

Enter price of laptop :200
Enter price of laptop :499
Enter price of laptop :500
Enter price of laptop :555
Enter price of laptop :900

In [5]:
num = [1,2,3,4,5]

print(num[0])
print(num[1])
print(num[2])
print(num[3])
print(num[4])

1
2
3
4
5

In [6]:
for i in num:
  print(i)

1
2
3
4
5

While Loop

while condition:

    statement

In [7]:
i = 0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [8]:
i = 5
while i < 3:
  print(i)
  i += 1