Programming Language used for Python

Python

R

#Print Function

In [1]:
print("Machine Learning")

Machine Learning

In [2]:
print("Machine Learning" + " Project")

Machine Learning Project

In [3]:
print(8)

8

In [4]:
print(7+5)

12

#Basic Data Types

1. int
2. float
3. str

In [5]:
type(8)

int

In [6]:
type(8.2)

float

In [7]:
type('Hello')

str

#Constants & Variables

In [8]:
marvel_super_hero = "Iron Man"
print(marvel_super_hero)

Iron Man

In [9]:
marvel_super_hero = "Captain America"
print(marvel_super_hero) #in variable Value can be changed and in constant value can not be changed ans alway in capital letter ex. PI

Captain America

In [10]:
hero1, hero2, hero3 = "Iron Man", "Captain America", "Bat man"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Bat man

In [11]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

#Input Function

In [13]:
number_1 = input("Enter First number :")
number_2 = input("Enter Second number :")

sum = number_1 + number_2
print(sum)

Enter First number :23
Enter Second number :23
2323

In [14]:
number_1 = int(input("Enter First number :"))
number_2 = int(input("Enter Second number :"))

sum = number_1 + number_2
print(sum)

Enter First number :23
Enter Second number :23
46

#Changing dataype in python

In [15]:
x = 5
print(float(x))

5.0